In [175]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st
import pandas as pd

## Loading training and test dataset

In [195]:
df = pd.read_csv('data.csv')
df_test = pd.read_csv('data_test.csv')
#df.var()
#df[df.columns[0]]
#df.columns[0]

**At the moment of loading this data from the google sheet file, not all ages were present. In order to control for these missing values, a mean imputation was performed on the google sheet. The resultant data and  mean value are presented below:**

In [196]:
df['Edad'].mean()

26.525

In [197]:
df

    Estatura  Edad
0       1.77  26.5
1       1.74  26.5
2       1.72  24.0
3       1.78  26.5
4       1.65  32.0
5       1.66  26.5
6       1.64  26.5
7       1.85  26.5
8       1.85  26.0
9       1.75  26.5
10      1.73  23.0
11      1.79  26.5
12      1.82  24.0
13      1.65  25.0
14      1.79  26.5
15      1.72  34.0
16      1.70  26.0
17      1.57  25.0
18      1.66  26.0
19      1.75  27.0

## Defining our anomaly detection model 

Our model will have as input a training set, a test set, and an epsilon value that will define the threshold of whether the characteristics of an individual are an anomaly. 

First, we are assuming a normal distribution for both age and height, and both variables present no dependency. We calculate sigma an mu for both of these distributions.
Afterwards, we normalize our training data using the previously calculated mu and sigma.
We perform this same normalization to the test data. Is important to notice that we are using the distribution parameters of the training data. We calculate the p value for each observation of the test data.

Finally, if the multiplication of both p values of the test data is smaller than epsilon, we classify the individual as an anomaly.

In [200]:
def anomaly_detector(x_train,x_test, epsilon):
    ##training the model 
    mean = pd.DataFrame(x_train.mean(), columns=["mean"])
    variance = pd.DataFrame(x_train.var(),columns=["variance"])
    parameters = pd.DataFrame.join(mean,variance)
    for i in range(0, len(parameters.columns)):
        x_train[str(x_train.columns[(i)])+"_z_value"] = (x_train[x_train.columns[i]] - parameters['mean'][parameters.index == x_train.columns[i]][0])/np.sqrt(parameters['variance'][parameters.index == x_train.columns[i]][0])
        x_train[str(x_train.columns[(i)])+"_p_value"] = st.norm.pdf(x_train[str(x_train.columns[(i)])+"_z_value"], 0, 1)
        #1- abs(st.norm.cdf(x_train[str(x_train.columns[(i)])+"_z_value"]))
    
    x_train['anomaly'] = np.where(x_train.select(lambda col: col.endswith("_p_value"), axis=1).prod(axis =1)<epsilon,1,0)
    
    ###applying the model to test data 
    
    #mean_test = pd.DataFrame(x_test.mean(), columns=["mean"])
    #variance_test = pd.DataFrame(x_test.var(),columns=["variance"])
    parameters_test = pd.DataFrame.join(mean,variance)
    for i in range(0, len(parameters_test.columns)):
        x_test[str(x_test.columns[(i)])+"_z_value"] = (x_test[x_test.columns[i]] - parameters['mean'][parameters.index == x_train.columns[i]][0])/np.sqrt(parameters['variance'][parameters.index == x_train.columns[i]][0])
        x_test[str(x_test.columns[(i)])+"_p_value"] = st.norm.pdf(x_test[str(x_test.columns[(i)])+"_z_value"], 0, 1)
    
    
    
    x_test['anomaly'] = np.where(x_test.select(lambda col: col.endswith("_p_value"), axis=1).prod(axis =1)<epsilon,1,0)
    return x_test

We are using a threshold of 0.0025. This was decided because we are assuming that the individual characteristics have to be, on average, near 0.05% of the pdf of both characteristics in order to be considered an anomaly.

In [204]:
test = anomaly_detector(df,df_test, 0.05*0.05)
test

C:\Users\jctep\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: 'select' is deprecated and will be removed in a future release. You can use .loc[labels.map(crit)] as a replacement
  # This is added back by InteractiveShellApp.init_path()
C:\Users\jctep\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: 'select' is deprecated and will be removed in a future release. You can use .loc[labels.map(crit)] as a replacement

,Estatura,Edad,Estatura_z_value,Estatura_p_value,Edad_z_value,Edad_p_value,anomaly
0,0.25,2.4,-19.761830,6.286567e-86,-9.732825,1.074015e-21,1
1,175.10,2.5,2315.727181,0.000000e+00,-9.692482,1.589222e-21,1
2,0.15,250.0,-21.097540,8.857820e-98,90.157228,0.000000e+00,1
3,150.00,14.0,1980.463960,0.000000e+00,-5.053000,1.139016e-06,1

 As we can appreciate, all the anomalies have been classified as an anomaly.

## Is there any anomaly in our training dataset?

In [207]:
training = anomaly_detector(df,df, 0.05*0.05)
training[training['anomaly']==1]

C:\Users\jctep\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: 'select' is deprecated and will be removed in a future release. You can use .loc[labels.map(crit)] as a replacement
  # This is added back by InteractiveShellApp.init_path()
C:\Users\jctep\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: 'select' is deprecated and will be removed in a future release. You can use .loc[labels.map(crit)] as a replacement

,Estatura,Edad,Estatura_z_value,Estatura_p_value,Edad_z_value,Edad_p_value,anomaly
15,1.72,34.0,-0.126892,0.395743,3.015663,0.004228,1

As we can see, there is only one anomaly present in our training test, an individual with an age of 34 years and a height of 1.70 meters.

### Some calculations that where used for this model.

In [18]:
def normal_dist(x):
    #### get mu
    mu = np.sum(height, axis=0)/x.shape[0]
    ###get variance
    variance = np.sum((x - mu)**2)/x.shape[0]
    
    return mu, variance

In [35]:
def z_value(mu,sigma,x):
    z_value = (x-mu)/sigma
    return(z_value)

In [37]:
z_value(height_params[0],height_params[1],1.74)

-0.9804779830167228

In [44]:
height_params[0]
test = z_value(height_params[0],height_params[1],1.76)
1- st.norm.cdf(test)

0.00023114378025179683

In [179]:
 st.norm.pdf(4,0,1)

0.00013383022576488537

In [191]:
df['Edad'].mean()

26.525