In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:
import tensorflow as tf
from tensorflow.keras import layers

print(tf.version.VERSION)
print(tf.keras.__version__)

1.13.1
2.2.4-tf

# Objective:

Implement a MLP Neural Network for predicting churn from a telecom dataset. 

#### Content

Each row represents a customer, each column contains customer’s attributes described on the column Metadata.

The data set includes information about:

* Customers who left within the last month – the column is called Churn
* Services that each customer has signed up for – phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies
* Customer account information – how long they’ve been a customer, contract, payment method, paperless billing, monthly  charges, and total charges
* Demographic info about customers – gender, age range, and if they have partners and dependents

### Columns 
* **customerID**: Customer ID
* **gender**: Whether the customer is a male or a female
* **SeniorCitizen**: Whether the customer is a senior citizen or not (1, 0)
* **Partner**: Whether the customer has a partner or not (Yes, No)
* **Dependents**: Whether the customer has dependents or not (Yes, No)
* **tenureNumber**: of months the customer has stayed with the company
* **PhoneService**: Whether the customer has a phone service or not (Yes, No)
* **MultipleLines**: Whether the customer has multiple lines or not (Yes, No, No phone service)
* **InternetService**: Customer’s internet service provider (DSL, Fiber optic, No)
* **OnlineSecurity**: Whether the customer has online security or not (Yes, No, No internet service)
* **OnlineBackup**: Whether the customer has online backup or not (Yes, No, No internet service)
* **DeviceProtection**: Whether the customer has device protection or not (Yes, No, No internet service)
* **TechSupport**: Whether the customer has tech support or not (Yes, No, No internet service)
* **StreamingTV**: Whether the customer has streaming TV or not (Yes, No, No internet service)
* **StreamingMovies**: Whether the customer has streaming movies or not (Yes, No, No internet service)
* **Contract**: The contract term of the customer (Month-to-month, One year, Two year)
* **PaperlessBilling**: Whether the customer has paperless billing or not (Yes, No)
* **PaymentMethod**: The customer’s payment method (Electronic check, Mailed check, Bank transfer (automatic), Credit card (automatic))
* **MonthlyCharges**: The amount charged to the customer monthly
* **TotalCharges**: The total amount charged to the customer
* **Churn**: Whether the customer churned or not (Yes or No)

In [252]:
df = pd.read_csv("telco-customer-churn\churn_df.csv")

In [253]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## Quick exploration of variables

In [254]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

# Data Preprocessing 

To do's:

* Encode text variables in order to feed them to a neural network.
* Drop customerID as it is of no use

In [257]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
encoder = preprocessing.LabelEncoder()
onehotencoder = OneHotEncoder(categorical_features = [0])
scaler = MinMaxScaler()

In [258]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')
df['TotalCharges'] = df['TotalCharges'].fillna(0.0)
df[['TotalCharges', 'MonthlyCharges']]= scaler.fit_transform(df[['TotalCharges', 'MonthlyCharges']])
df['MonthlyCharges'] = pd.to_numeric(df['MonthlyCharges'],errors='coerce')
df['Churn_encoded'] = encoder.fit_transform(df['Churn'])
df['gender_encoded'] = encoder.fit_transform(df['gender'])
df['Partner_encoded'] = encoder.fit_transform(df['Partner'])
df['Dependents_encoded'] = encoder.fit_transform(df['Dependents'])
df['PhoneService_encoded'] = encoder.fit_transform(df['PhoneService'])
df['PaperlessBilling_encoded'] = encoder.fit_transform(df['PaperlessBilling'])

In [259]:
def dummy_creator(col_name,dataset):
    dummies = pd.get_dummies(dataset[col_name]).rename(columns=lambda x: col_name + '_'+ str(x))
    #dataset = pd.concat([dataset, dummies], axis=1)
    return dummies

In [260]:
df = pd.concat([df, dummy_creator('TechSupport',df)], axis=1)
df = pd.concat([df, dummy_creator('MultipleLines',df)], axis=1)
df = pd.concat([df, dummy_creator('InternetService',df)], axis=1)
df = pd.concat([df, dummy_creator('OnlineSecurity',df)], axis=1)
df = pd.concat([df, dummy_creator('OnlineBackup',df)], axis=1)
df = pd.concat([df, dummy_creator('DeviceProtection',df)], axis=1)
df = pd.concat([df, dummy_creator('TechSupport',df)], axis=1)
df = pd.concat([df, dummy_creator('StreamingTV',df)], axis=1)
df = pd.concat([df, dummy_creator('StreamingMovies',df)], axis=1)
df = pd.concat([df, dummy_creator('Contract',df)], axis=1)
df = pd.concat([df, dummy_creator('PaymentMethod',df)], axis=1)

In [261]:
to_drop= ['customerID','gender','Churn','Partner','Dependents','PhoneService','PaperlessBilling',
          'TechSupport','MultipleLines','InternetService','OnlineSecurity',
          'OnlineBackup','DeviceProtection','TechSupport',
          'StreamingTV','StreamingMovies','Contract','PaymentMethod']

df.drop(to_drop,axis=1).columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges',
       'Churn_encoded', 'gender_encoded', 'Partner_encoded',
       'Dependents_encoded', 'PhoneService_encoded',
       'PaperlessBilling_encoded', 'TechSupport_No',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'MultipleLines_No', 'MultipleLines_No phone service',
       'MultipleLines_Yes', 'InternetService_DSL',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No', 'OnlineSecurity_No internet service',
       'OnlineSecurity_Yes', 'OnlineBackup_No',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No', 'DeviceProtection_No internet service',
       'DeviceProtection_Yes', 'TechSupport_No',
       'TechSupport_No internet service', 'TechSupport_Yes', 'StreamingTV_No',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No', 'StreamingMovies_No internet service',
       'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [262]:
df = df.drop(to_drop,axis= 1)

In [263]:
df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn_encoded,gender_encoded,Partner_encoded,Dependents_encoded,PhoneService_encoded,PaperlessBilling_encoded,...,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,0.115423,0.003437,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0
1,0,34,0.385075,0.217564,0,1,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
2,0,2,0.354229,0.012453,1,1,0,0,1,1,...,1,0,0,1,0,0,0,0,0,1
3,0,45,0.239303,0.211951,0,1,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
4,0,2,0.521891,0.017462,1,0,0,0,1,1,...,1,0,0,1,0,0,0,0,1,0

## Model implementation

In [264]:
labels = df['Churn_encoded']
labels.head()
df_features = df.drop(['Churn_encoded'],axis=1)

In [265]:
df_features.shape

(7043, 43)

In [268]:
### Splitting the datsets

from sklearn.model_selection import train_test_split
X_train, X_test_validation, y_train, y_test_validation = train_test_split(df_features, labels,
                                                    stratify=labels, 
                                                    test_size=0.4)

In [269]:
X_train

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_encoded,Partner_encoded,Dependents_encoded,PhoneService_encoded,PaperlessBilling_encoded,TechSupport_No,...,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
7034,0,67,0.842786,0.792908,0,0,0,1,1,1,...,1,0,0,1,0,0,0,1,0,0
3438,0,18,0.760697,0.194357,1,1,0,1,1,1,...,0,0,1,1,0,0,0,0,1,0
5223,0,61,0.071642,0.177160,1,1,0,1,0,0,...,0,1,0,0,0,1,1,0,0,0
532,0,2,0.613930,0.020087,1,0,0,1,1,1,...,1,0,0,1,0,0,0,0,1,0
1094,0,41,0.500000,0.327002,1,1,1,1,0,1,...,1,0,0,0,1,0,1,0,0,0
5295,1,50,0.900498,0.625449,0,1,0,1,0,1,...,0,0,1,1,0,0,1,0,0,0
5114,1,50,0.648259,0.473667,0,0,0,1,1,1,...,1,0,0,1,0,0,0,0,1,0
2565,0,13,0.067164,0.038285,0,1,1,1,1,0,...,0,1,0,0,0,1,1,0,0,0
4378,0,67,0.025871,0.152842,0,1,0,1,1,0,...,0,1,0,0,1,0,1,0,0,0
3202,0,1,0.368159,0.006362,1,0,0,1,1,1,...,0,0,1,1,0,0,0,0,1,0
1979,0,45,0.017413,0.102063,0,1,1,1,1,0,...,0,1,0,0,0,1,1,0,0,0
5530,0,66,0.735323,0.697414,0,0,0,1,1,1,...,1,0,0,0,1,0,1,0,0,0
5601,0,35,0.225373,0.159313,0,1,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
1537,0,72,0.603980,0.659791,0,1,1,1,1,0,...,0,0,1,0,0,1,0,0,1,0
3566,0,53,0.660199,0.512361,0,0,1,1,1,0,...,0,0,1,0,1,0,0,0,1,0
601,0,2,0.016915,0.005492,1,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,1
3901,0,67,0.925871,0.871315,1,1,0,1,1,0,...,0,0,1,0,0,1,1,0,0,0
6534,1,53,0.781095,0.599501,0,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,1
5572,0,70,0.562687,0.612081,1,1,0,1,1,0,...,0,0,1,0,0,1,0,1,0,0
1895,0,68,0.679104,0.677362,1,0,1,1,1,0,...,0,0,1,0,0,1,1,0,0,0
4337,1,71,0.809950,0.800381,0,0,0,1,1,1,...,0,0,1,1,0,0,0,1,0,0
5091,0,6,0.121891,0.024030,1,0,0,0,1,1,...,1,0,0,1,0,0,0,1,0,0
1588,1,50,0.881095,0.615783,0,0,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
4434,0,16,0.720896,0.158311,0,1,0,1,0,1,...,1,0,0,1,0,0,0,0,1,0
6142,0,42,0.318408,0.253736,0,1,0,1,1,1,...,1,0,0,1,0,0,0,0,1,0
4311,0,7,0.217413,0.033772,0,0,0,0,1,1,...,0,0,1,1,0,0,0,1,0,0
5016,0,5,0.015920,0.012441,0,0,0,1,0,0,...,0,1,0,1,0,0,0,1,0,0
6154,0,72,0.904975,0.887925,0,1,1,1,1,0,...,0,0,1,0,0,1,1,0,0,0
2942,0,46,0.016915,0.104441,1,0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
3238,0,26,0.013930,0.056985,0,1,1,1,0,0,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4759,0,1,0.603980,0.009091,1,0,0,1,1,1,...,1,0,0,1,0,0,0,0,1,0
3205,0,72,0.988557,0.956717,0,1,1,1,1,0,...,0,0,1,0,0,1,1,0,0,0
5122,0,27,0.314428,0.153849,0,1,1,1,0,1,...,1,0,0,1,0,0,0,0,0,1
5779,0,39,0.769154,0.425208,0,0,0,1,1,0,...,1,0,0,0,1,0,0,0,1,0
912,0,72,0.874129,0.903705,1,1,1,1,1,1,...,0,0,1,0,1,0,1,0,0,0
1254,1,55,0.701990,0.553300,0,1,0,1,0,0,...,1,0,0,0,0,1,0,1,0,0
4404,0,24,0.709453,0.251837,1,0,0,1,1,1,...,0,0,1,1,0,0,0,0,1,0
5838,0,53,0.533333,0.440759,1,1,1,1,0,0,...,0,0,1,1,0,0,0,0,1,0
6321,0,30,0.013930,0.075517,0,1,0,1,0,0,...,0,1,0,1,0,0,1,0,0,0
5671,0,61,0.070149,0.179037,0,1,0,1,0,0,...,0,1,0,0,0,1,1,0,0,0
106,0,72,0.854726,0.840900,0,1,1,1,1,1,...,0,0,1,0,1,0,0,0,1,0
5839,1,7,0.568657,0.061377,1,1,0,1,1,1,...,1,0,0,1,0,0,0,0,1,0
2874,0,64,0.011940,0.141126,0,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
1427,1,44,0.553234,0.359525,1,0,0,1,0,1,...,1,0,0,1,0,0,0,0,1,0
713,0,14,0.674129,0.134033,0,0,1,1,1,0,...,1,0,0,1,0,0,0,0,0,1
2027,0,24,0.018905,0.052603,0,1,0,1,0,0,...,0,1,0,0,1,0,0,0,0,1
399,0,23,0.017910,0.047796,0,1,1,1,0,0,...,0,1,0,0,1,0,0,0,0,1
552,0,55,0.010945,0.132789,1,1,1,1,0,0,...,0,1,0,0,0,1,1,0,0,0
1228,0,49,0.821891,0.558142,0,1,0,1,1,1,...,0,0,1,1,0,0,0,0,0,1
5821,0,69,0.080100,0.203062,0,1,0,1,1,0,...,0,1,0,0,1,0,0,0,1,0
1131,0,14,0.462189,0.108350,0,1,0,1,1,1,...,1,0,0,1,0,0,1,0,0,0
346,0,2,0.717910,0.019367,0,0,0,1,1,1,...,0,0,1,1,0,0,0,0,1,0
3414,0,47,0.235323,0.215923,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
876,0,15,0.864179,0.182244,0,0,0,1,0,0,...,0,0,1,1,0,0,0,0,1,0
3459,0,30,0.068159,0.090912,0,1,1,1,1,0,...,0,1,0,0,0,1,0,0,0,1
1487,0,56,0.881095,0.681006,0,0,0,1,1,1,...,0,0,1,0,1,0,0,0,1,0
2745,1,1,0.674627,0.009908,1,1,0,1,1,1,...,1,0,0,1,0,0,0,0,1,0
4611,0,72,0.058706,0.204547,0,1,0,1,1,0,...,0,1,0,0,0,1,0,1,0,0
5844,0,2,0.518905,0.017824,0,1,0,1,1,1,...,1,0,0,1,0,0,0,1,0,0
6420,0,32,0.606965,0.301579,1,1,0,1,1,0,...,1,0,0,0,1,0,0,0,1,0

In [214]:
score

[nan, 0.7345635]

In [274]:
model = tf.keras.Sequential()
model.add(layers.Dense(64, input_dim=43, activation='sigmoid'))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(64, activation='sigmoid'))
#model.add(layers.Dense(64, activation='sigmoid'))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(1, activation='linear'))
sgd = tf.keras.optimizers.SGD(lr=0.001, decay=1e-6, momentum=0.9, nesterov=True)
model.compile(loss='binary_crossentropy',
              #optimizer = tf.train.AdamOptimizer(0.001),
              optimizer='rmsprop',
              #optimizer = sgd,
              metrics=['accuracy'])

model.fit(X_train, y_train,
          epochs=100,
          batch_size=32)
score = model.evaluate(X_test_validation, y_test_validation, batch_size=32)

Epoch 1/100
4225/4225 [==============================] - 2s 424us/sample - loss: 3.0303 - acc: 0.6637
Epoch 2/100
4225/4225 [==============================] - 1s 144us/sample - loss: 2.6368 - acc: 0.7037
Epoch 3/100
4225/4225 [==============================] - 1s 166us/sample - loss: 2.3876 - acc: 0.7240
Epoch 4/100
4225/4225 [==============================] - 1s 155us/sample - loss: 2.2955 - acc: 0.7323
Epoch 5/100
4225/4225 [==============================] - 1s 149us/sample - loss: 2.1612 - acc: 0.7380
Epoch 6/100
4225/4225 [==============================] - 1s 146us/sample - loss: 1.9721 - acc: 0.7439
Epoch 7/100
4225/4225 [==============================] - 1s 162us/sample - loss: 1.6745 - acc: 0.7389
Epoch 8/100
4225/4225 [==============================] - 1s 162us/sample - loss: 1.3034 - acc: 0.7491
Epoch 9/100
4225/4225 [==============================] - 1s 152us/sample - loss: 0.9554 - acc: 0.7522
Epoch 10/100
4225/4225 [==============================] - 1s 157us/sample - loss: 0.7307 - acc: 0.7683
Epoch 11/100
4225/4225 [==============================] - 1s 153us/sample - loss: 0.6799 - acc: 0.7685
Epoch 12/100
4225/4225 [==============================] - 1s 148us/sample - loss: 0.6717 - acc: 0.7749
Epoch 13/100
4225/4225 [==============================] - 1s 152us/sample - loss: 0.5974 - acc: 0.7673
Epoch 14/100
4225/4225 [==============================] - 1s 159us/sample - loss: 0.6139 - acc: 0.7709
Epoch 15/100
4225/4225 [==============================] - 1s 159us/sample - loss: 0.5751 - acc: 0.7754
Epoch 16/100
4225/4225 [==============================] - 1s 136us/sample - loss: 0.5185 - acc: 0.7761
Epoch 17/100
4225/4225 [==============================] - 1s 119us/sample - loss: 0.5816 - acc: 0.7827
Epoch 18/100
4225/4225 [==============================] - 1s 140us/sample - loss: 0.5650 - acc: 0.7856
Epoch 19/100
4225/4225 [==============================] - 1s 149us/sample - loss: 0.5342 - acc: 0.7844s - loss: 0.4771 -
Epoch 20/100
4225/4225 [==============================] - 1s 157us/sample - loss: 0.5549 - acc: 0.7806
Epoch 21/100
4225/4225 [==============================] - 1s 157us/sample - loss: 0.5720 - acc: 0.7891
Epoch 22/100
4225/4225 [==============================] - 1s 150us/sample - loss: 0.5377 - acc: 0.7849
Epoch 23/100
4225/4225 [==============================] - 1s 152us/sample - loss: 0.5550 - acc: 0.7884
Epoch 24/100
4225/4225 [==============================] - ETA: 0s - loss: 0.5318 - acc: 0.789 - 1s 155us/sample - loss: 0.5298 - acc: 0.7898
Epoch 25/100
4225/4225 [==============================] - 1s 155us/sample - loss: 0.5206 - acc: 0.7903
Epoch 26/100
4225/4225 [==============================] - 1s 157us/sample - loss: 0.5299 - acc: 0.7905
Epoch 27/100
4225/4225 [==============================] - 1s 153us/sample - loss: 0.5213 - acc: 0.7903
Epoch 28/100
4225/4225 [==============================] - 1s 154us/sample - loss: 0.5116 - acc: 0.7886
Epoch 29/100
4225/4225 [==============================] - 1s 150us/sample - loss: 0.5377 - acc: 0.7991
Epoch 30/100
4225/4225 [==============================] - 1s 150us/sample - loss: 0.5476 - acc: 0.7927
Epoch 31/100
4225/4225 [==============================] - 1s 151us/sample - loss: 0.5241 - acc: 0.7924
Epoch 32/100
4225/4225 [==============================] - 1s 155us/sample - loss: 0.5356 - acc: 0.7922
Epoch 33/100
4225/4225 [==============================] - 1s 156us/sample - loss: 0.5601 - acc: 0.7941
Epoch 34/100
4225/4225 [==============================] - 1s 165us/sample - loss: 0.5400 - acc: 0.7865
Epoch 35/100
4225/4225 [==============================] - 1s 161us/sample - loss: 0.5597 - acc: 0.7941
Epoch 36/100
4225/4225 [==============================] - 1s 134us/sample - loss: 0.5739 - acc: 0.7870
Epoch 37/100
4225/4225 [==============================] - 1s 158us/sample - loss: 0.5261 - acc: 0.7915
Epoch 38/100
4225/4225 [==============================] - 1s 149us/sample - loss: 0.5045 - acc: 0.7950
Epoch 39/100
4225/4225 [==============================] - 1s 147us/sample - loss: 0.5383 - acc: 0.7960
Epoch 40/100
4225/4225 [==============================] - 1s 156us/sample - loss: 0.4882 - acc: 0.7920
Epoch 41/100
4225/4225 [==============================] - 1s 145us/sample - loss: 0.5103 - acc: 0.7910
Epoch 42/100
4225/4225 [==============================] - 1s 150us/sample - loss: 0.5757 - acc: 0.8007
Epoch 43/100
4225/4225 [==============================] - 1s 152us/sample - loss: 0.5410 - acc: 0.7931
Epoch 44/100
4225/4225 [==============================] - 1s 160us/sample - loss: 0.5113 - acc: 0.8005
Epoch 45/100
4225/4225 [==============================] - 1s 158us/sample - loss: 0.5351 - acc: 0.7950
Epoch 46/100
4225/4225 [==============================] - 1s 147us/sample - loss: 0.5708 - acc: 0.7955
Epoch 47/100
4225/4225 [==============================] - 1s 146us/sample - loss: 0.5476 - acc: 0.7905
Epoch 48/100
4225/4225 [==============================] - 1s 147us/sample - loss: 0.5391 - acc: 0.7920
Epoch 49/100
4225/4225 [==============================] - 1s 136us/sample - loss: 0.5903 - acc: 0.7941
Epoch 50/100
4225/4225 [==============================] - 1s 134us/sample - loss: 0.5599 - acc: 0.7955
Epoch 51/100
4225/4225 [==============================] - 1s 157us/sample - loss: 0.5224 - acc: 0.7957
Epoch 52/100
4225/4225 [==============================] - 1s 141us/sample - loss: 0.4787 - acc: 0.8017
Epoch 53/100
4225/4225 [==============================] - 1s 134us/sample - loss: 0.5106 - acc: 0.7988
Epoch 54/100
4225/4225 [==============================] - 1s 139us/sample - loss: 0.5015 - acc: 0.7924
Epoch 55/100
4225/4225 [==============================] - 1s 141us/sample - loss: 0.5342 - acc: 0.7983
Epoch 56/100
4225/4225 [==============================] - 1s 137us/sample - loss: 0.5425 - acc: 0.7995
Epoch 57/100
4225/4225 [==============================] - 1s 146us/sample - loss: 0.5652 - acc: 0.7983
Epoch 58/100
4225/4225 [==============================] - 1s 140us/sample - loss: 0.5349 - acc: 0.7941
Epoch 59/100
4225/4225 [==============================] - 1s 143us/sample - loss: 0.5401 - acc: 0.8036
Epoch 60/100
4225/4225 [==============================] - 1s 160us/sample - loss: 0.4949 - acc: 0.7967
Epoch 61/100
4225/4225 [==============================] - 1s 161us/sample - loss: 0.4953 - acc: 0.8012
Epoch 62/100
4225/4225 [==============================] - 1s 141us/sample - loss: 0.4991 - acc: 0.7964
Epoch 63/100
4225/4225 [==============================] - 1s 148us/sample - loss: 0.5531 - acc: 0.7981
Epoch 64/100
4225/4225 [==============================] - 1s 123us/sample - loss: 0.5073 - acc: 0.7955
Epoch 65/100
4225/4225 [==============================] - 1s 136us/sample - loss: 0.5100 - acc: 0.7905
Epoch 66/100
4225/4225 [==============================] - 1s 174us/sample - loss: 0.5290 - acc: 0.7969s - loss: 0.7822
Epoch 67/100
4225/4225 [==============================] - 1s 140us/sample - loss: 0.5881 - acc: 0.8017
Epoch 68/100
4225/4225 [==============================] - 1s 140us/sample - loss: 0.5528 - acc: 0.7993
Epoch 69/100
4225/4225 [==============================] - 1s 139us/sample - loss: 0.5658 - acc: 0.7969
Epoch 70/100
4225/4225 [==============================] - 1s 137us/sample - loss: 0.5208 - acc: 0.7957
Epoch 71/100
4225/4225 [==============================] - 1s 141us/sample - loss: 0.5365 - acc: 0.7998
Epoch 72/100
4225/4225 [==============================] - 1s 171us/sample - loss: 0.6024 - acc: 0.8002
Epoch 73/100
4225/4225 [==============================] - 1s 120us/sample - loss: 0.5764 - acc: 0.7931
Epoch 74/100
4225/4225 [==============================] - 1s 172us/sample - loss: 0.5316 - acc: 0.7948
Epoch 75/100
4225/4225 [==============================] - 1s 148us/sample - loss: 0.4984 - acc: 0.7920
Epoch 76/100
4225/4225 [==============================] - 0s 115us/sample - loss: 0.5273 - acc: 0.7950
Epoch 77/100
4225/4225 [==============================] - 0s 116us/sample - loss: 0.5265 - acc: 0.7993
Epoch 78/100
4225/4225 [==============================] - 1s 118us/sample - loss: 0.5442 - acc: 0.8031
Epoch 79/100

4225/4225 [==============================] - 0s 116us/sample - loss: 0.5595 - acc: 0.7983
Epoch 80/100
4225/4225 [==============================] - 1s 149us/sample - loss: 0.5601 - acc: 0.7934
Epoch 81/100
4225/4225 [==============================] - 1s 139us/sample - loss: 0.5971 - acc: 0.8000
Epoch 82/100
4225/4225 [==============================] - 1s 149us/sample - loss: 0.5961 - acc: 0.8000
Epoch 83/100
4225/4225 [==============================] - 1s 128us/sample - loss: 0.6256 - acc: 0.7991
Epoch 84/100
4225/4225 [==============================] - 1s 136us/sample - loss: 0.5356 - acc: 0.8024
Epoch 85/100
4225/4225 [==============================] - 1s 143us/sample - loss: 0.5234 - acc: 0.7979
Epoch 86/100
4225/4225 [==============================] - 1s 155us/sample - loss: 0.5201 - acc: 0.7938
Epoch 87/100
4225/4225 [==============================] - 1s 131us/sample - loss: 0.5152 - acc: 0.7976
Epoch 88/100
4225/4225 [==============================] - 1s 142us/sample - loss: 0.5257 - acc: 0.8031
Epoch 89/100
4225/4225 [==============================] - 1s 157us/sample - loss: 0.5440 - acc: 0.8014
Epoch 90/100
4225/4225 [==============================] - 1s 133us/sample - loss: 0.5792 - acc: 0.7986
Epoch 91/100
4225/4225 [==============================] - 1s 123us/sample - loss: 0.5468 - acc: 0.7969
Epoch 92/100
4225/4225 [==============================] - 1s 143us/sample - loss: 0.5262 - acc: 0.8005
Epoch 93/100
4225/4225 [==============================] - 1s 139us/sample - loss: 0.5432 - acc: 0.7983
Epoch 94/100
4225/4225 [==============================] - 1s 121us/sample - loss: 0.5316 - acc: 0.7974
Epoch 95/100
4225/4225 [==============================] - 1s 127us/sample - loss: 0.5530 - acc: 0.8009
Epoch 96/100
4225/4225 [==============================] - 1s 144us/sample - loss: 0.5560 - acc: 0.8064
Epoch 97/100
4225/4225 [==============================] - 1s 132us/sample - loss: 0.5045 - acc: 0.8012
Epoch 98/100
4225/4225 [==============================] - 1s 134us/sample - loss: 0.5481 - acc: 0.7983
Epoch 99/100
4225/4225 [==============================] - 0s 113us/sample - loss: 0.5600 - acc: 0.7974
Epoch 100/100
4225/4225 [==============================] - 0s 114us/sample - loss: 0.5026 - acc: 0.8057
2818/2818 [==============================] - 1s 373us/sample - loss: 0.4877 - acc: 0.8119

In [216]:
model.compile(optimizer=tf.train.AdamOptimizer(0.001),
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [217]:
model.fit(df_features, labels, epochs=10, batch_size=64)

Epoch 1/10
7043/7043 [==============================] - 1s 181us/sample - loss: nan - acc: 0.7346
Epoch 2/10
7043/7043 [==============================] - 1s 82us/sample - loss: nan - acc: 0.7346
Epoch 3/10
7043/7043 [==============================] - 1s 82us/sample - loss: nan - acc: 0.7346
Epoch 4/10
7043/7043 [==============================] - 1s 80us/sample - loss: nan - acc: 0.7346
Epoch 5/10
7043/7043 [==============================] - 1s 80us/sample - loss: nan - acc: 0.7346
Epoch 6/10
7043/7043 [==============================] - 1s 81us/sample - loss: nan - acc: 0.7346
Epoch 7/10
7043/7043 [==============================] - 1s 82us/sample - loss: nan - acc: 0.7346
Epoch 8/10
7043/7043 [==============================] - 1s 89us/sample - loss: nan - acc: 0.7346
Epoch 9/10
7043/7043 [==============================] - 1s 75us/sample - loss: nan - acc: 0.7346
Epoch 10/10
7043/7043 [==============================] - 0s 70us/sample - loss: nan - acc: 0.7346

In [250]:
print("No. of missing values: \n",df.isnull().sum())

No. of missing values:
 SeniorCitizen                               0
tenure                                      0
MonthlyCharges                              0
TotalCharges                               11
Churn_encoded                               0
gender_encoded                              0
Partner_encoded                             0
Dependents_encoded                          0
PhoneService_encoded                        0
PaperlessBilling_encoded                    0
TechSupport_No                              0
TechSupport_No internet service             0
TechSupport_Yes                             0
MultipleLines_No                            0
MultipleLines_No phone service              0
MultipleLines_Yes                           0
InternetService_DSL                         0
InternetService_Fiber optic                 0
InternetService_No                          0
OnlineSecurity_No                           0
OnlineSecurity_No internet service          0
OnlineSecurity_Yes                          0
OnlineBackup_No                             0
OnlineBackup_No internet service            0
OnlineBackup_Yes                            0
DeviceProtection_No                         0
DeviceProtection_No internet service        0
DeviceProtection_Yes                        0
TechSupport_No                              0
TechSupport_No internet service             0
TechSupport_Yes                             0
StreamingTV_No                              0
StreamingTV_No internet service             0
StreamingTV_Yes                             0
StreamingMovies_No                          0
StreamingMovies_No internet service         0
StreamingMovies_Yes                         0
Contract_Month-to-month                     0
Contract_One year                           0
Contract_Two year                           0
PaymentMethod_Bank transfer (automatic)     0
PaymentMethod_Credit card (automatic)       0
PaymentMethod_Electronic check              0
PaymentMethod_Mailed check                  0
dtype: int64

In [266]:
df.isnull().values.any()

False